<div class="container">
  <hr>
  <h2 class="fw-bold">My Appointments</h2>

  <!-- Today's Appointments Table -->
  <h3 class="table-title">Today's Appointments</h3>
  <table class="table table-bordered" *ngIf="todaysAppointments.length > 0">
    <thead class="table-header">
      <tr>
        <th>Appointment Date & Time</th>
        <th>Location</th>
        <th>Status</th>
        <th>Expert</th>
        <th>Driver</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of todaysAppointments">
        <td>{{ appointment.appointmentDateTime }}</td>
        <td>{{ appointment.location }}</td>
        <td>{{ appointment.status }}</td>
        <td>{{ appointment.expert.name }}</td>
        <td>{{ appointment.driver ? appointment.driver.nameDriver : 'No Driver' }}</td>
        <td>
          <div class="action-buttons">
            <button class="btn btn-warning btn-sm" (click)="openEditModal(appointment)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="openDeleteModal(appointment)">Delete</button>
          </div>
        </td>
        
      </tr>
    </tbody>
  </table>
  <p *ngIf="todaysAppointments.length === 0">No appointments for today.</p>

  <!-- Upcoming Appointments Table -->
   <hr>
  <h3 class="table-title">Upcoming Appointments</h3>
  <table class="table table-bordered" *ngIf="upcomingAppointments.length > 0">
    <thead class="table-header">
      <tr>
        <th>Appointment Date & Time</th>
        <th>Location</th>
        <th>Status</th>
        <th>Expert</th>
        <th>Driver</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of upcomingAppointments">
        <td>{{ appointment.appointmentDateTime }}</td>
        <td>{{ appointment.location }}</td>
        <td>{{ appointment.status }}</td>
        <td>{{ appointment.expert.name }}</td>
        <td>{{ appointment.driver ? appointment.driver.nameDriver : 'No Driver' }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="openEditModal(appointment)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="openDeleteModal(appointment)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="upcomingAppointments.length === 0">No upcoming appointments.</p>

  <!-- History Table -->
  
  <h3 class="table-title">History</h3>
  <table class="table table-bordered" *ngIf="historyAppointments.length > 0">
    <thead class="table-header">
      <tr>
        <th>Appointment Date & Time</th>
        <th>Location</th>
        <th>Status</th>
        <th>Expert</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of historyAppointments">
        <td>{{ appointment.appointmentDateTime }}</td>
        <td>{{ appointment.location }}</td>
        <td>{{ appointment.status }}</td>
        <td>{{ appointment.expert.name }}</td>
        <td>{{ appointment.driver ? appointment.driver.nameDriver : 'No Driver' }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="historyAppointments.length === 0">No past appointments.</p>
</div>
<hr>


